# <h1 style = "font-size: 40px;"><em>Final Project Title</em></h1>
### <u>By: Julian Spencer && Eric Bloom</u>
## Published: [Instert Date]<br>Last Updated: [Insert Date]
----------------------------------------------------------------------------------------
### <h2>Table of Contents</h2> 
<ol style="margin: 20px; font-size: 16px;">
    <li>Introduction</li>
    <li>Data Data Wrangling 
        <ol>
            <li>Meeting the Data</li>
            <li>Data Manipulation</li>
        </ol>
    <li>Data Exploration and Analysis</li>
    <li>Comparing student populations vs number of faculty</li>
    <li>A hypothetical scenario</li>
    <li>Bang for you buck!</li>
    <li>How does this affect ranking?</li>
    <li>UMD Computer Science Growth Rate</li>
    <li>What does UMD need to do to keep up?</li>
    <li>Conclusion</li>
</ol>


-----------------------------------------------------------------------

## <h2>1.) Introduction</h2>
<br>
<p style = "font-size: 16px;">The main goal of our data science final project is to investigate the correlation between home sales and different seasons. Specifically, we want to find out what type of amenities make a house more valuable during certain seasons. We will focus on three amenities: fireplaces, porches, and decks.To achieve our goal, we plan to use all the skills we aquired over the semester in working with python, pandas, matplotlib, and more to analyze a dataset of home sales data. We will look at the number of homes sold in different seasons and compare the number of homes with fireplaces, porches, and decks to the number of homes without these amenities. We will also look at the sale prices of homes with and without these amenities in different seasons.</p><p style = "font-size: 16px;">Our null hypothesis is that there is no correlation with houses being sold and the amentities. We will test this hypothesis using statistical analysis and machine learning techniques.</p><p style = "font-size: 16px;">Overall, we believe that our analysis will provide valuable insights into the correlation between home sales and seasons, and help us understand which amenities are most valuable in different seasons. We hope that our findings will be useful for homeowners and real estate agents looking to optimize the sale of their homes.</p> 

<br>

--------------------------------------------------------------------------

## <h2>2.) Data Wrangling</h2><br><h3>2.A.) Meeting the Data</h3>
<br>
<p style = "font-size: 16px;">The first step would be to read in the training data for the house pricing vs season model and get a glimpse of what kind of data manipulation must be done. To our amazement, the dataset contains 81 different columns, most of which have little predictive power and a low correlation with the target variable. In order to build an effective model, we will need to carefully identify and select the relevant columns. In section 2B, we will discuss our approach to this challenge and explain how it will help us improve the accuracy of our model.</p>

In [2]:
## All Imports
import folium
import requests
import csv
import pandas as pd

house_df = pd.read_csv("house-prices-advanced-regression-techniques/train.csv")
house_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## <h3>2.B.) Data Manipulation</h3>
<br>
<p style = "font-size: 16px;">We decided to gut a majority of the columns since they proved to be irrelavent for proving our null hypothesis or they ahd little predictive power. Here is why we got rid of some and what our thought process was when it came to dopping them:</p>
<ul style = "font-size: 16px;">
    <li>Add thoughts and reasons</li>
</ul>

In [3]:
#Edit months sold to calendar words not numbers (new column)
house_df.drop(columns = ["LandContour","Utilities","Street","Alley","LandSlope","MasVnrType","Condition2","Heating","Electrical","MasVnrArea","RoofMatl","BsmtFinSF2","BsmtCond","ExterCond","Foundation","GarageFinish","LowQualFinSF","Functional","YearBuilt","YearRemodAdd","ExterQual","MSSubClass","MSZoning","LotConfig","LotFrontage","LotArea","LotShape","MiscFeature","MiscVal","BldgType","HouseStyle","Neighborhood","Id","Condition1","OverallQual","OverallCond","RoofStyle","Exterior1st","Exterior2nd","BsmtQual","BsmtExposure","BsmtFinType1","BsmtFinSF1","BsmtFinType2","BsmtUnfSF","TotalBsmtSF","1stFlrSF","2ndFlrSF","GrLivArea","BsmtHalfBath","BsmtFullBath","BedroomAbvGr","KitchenAbvGr","KitchenQual","TotRmsAbvGrd","GarageYrBlt","GarageCars","FullBath","HalfBath","GarageCond","Fence","SaleType","SaleCondition","PavedDrive","GarageArea","GarageQual","PoolArea","PoolQC"])

,HeatingQC,CentralAir,Fireplaces,FireplaceQu,GarageType,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,MoSold,YrSold,SalePrice
0,Ex,Y,0,NaN,Attchd,0,61,0,0,0,2,2008,208500
1,Ex,Y,1,TA,Attchd,298,0,0,0,0,5,2007,181500
2,Ex,Y,1,TA,Attchd,0,42,0,0,0,9,2008,223500
3,Gd,Y,1,Gd,Detchd,0,35,272,0,0,2,2006,140000
4,Ex,Y,1,TA,Attchd,192,84,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,Ex,Y,1,TA,Attchd,0,40,0,0,0,8,2007,175000
1456,TA,Y,2,TA,Attchd,349,0,0,0,0,2,2010,210000
1457,Ex,Y,2,Gd,Attchd,0,60,0,0,0,5,2010,266500
1458,Gd,Y,0,NaN,Attchd,366,0,112,0,0,4,2010,142125
1459,Gd,Y,0,NaN,Attchd,736,68,0,0,0,6,2008,147500